<div class="container">
  <h2>
  Ajout d'une affaire
  </h2>
</div>

<form #f (ngSubmit)="onsubmit(f)" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nom de l'affaire" type="text" name="nom" [(ngModel)]="affaire.nom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="lieu" type="text" name="lieu" [(ngModel)]="affaire.lieu">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="rapport" type="text" name="rapport" [(ngModel)]="affaire.rapport">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="date création">
          </mat-form-field>

          <button  type="submit"  mat-button>Valider</button>
  </form>
